APP_NAME=office-service-helper
APP_ENV=local
APP_PORT_HTTP=3000
APP_LOG=info
APP_LOCALE=id

JWT_ACCESS_SECRET=token-secret
JWT_ALGORITHM=HS256

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TTL=0

MINIO_ENDPOINT=minio # hostname
MINIO_PORT=8888
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

# core_api Url is the url address of the core application office-service-v2
CORE_API_URL=

INTERNAL_GATEWAY_SERVICE_URL=
INTERNAL_GATEWAY_SERVICE_AUTH=

NATS_URL=
NATS_QUEUE_NAME=

NATS_ESIGN_PROCESS_NAME=
NATS_ESIGN_PROGRESS_UPDATE_NAME=